/* Стилизация кнопки */
.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 15px 50px;
  opacity: 0.6;
  border-radius: 8px;
  transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
}

.button:hover {
  opacity: 1;
  cursor: pointer;
  transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
}

.button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.button_primary {
  background-color: var(--primary);
  color: var(--white);
  border-color: var(--primary);
}

.button_secondary {
  background-color: var(--secondary);
  color: var(--white);
  border-color: var(--secondary);
}

.button_alternate {
  background-color: var(--white);
  color: var(--grey-4);
  border-color: var(--grey-4);
}
