/* Стилизация аккордеона */
.accordion {
  width: 730px;
  border-radius: 8px;
  border: 1px solid var(--grey-3);
  font-size: 16px;
  padding: 20px;
  margin-bottom: 8px;
}

.accordion_summary {
  color: var(--black);
  list-style: none;
}

.accordion_item {
  color: var(--grey-4);
}

.accordion:last-child {
  margin-bottom: 0px;
}
