/* Стилизация аккордеона */
.accordion {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.accordion__item {
  background: var(--white);
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding-left: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 8px;
}

.accordion__summary {
  color: var(--black);
  list-style: none;
  color: #000000;
}

.accordion__content {
  color: var(--grey-4);
}

.accordion {
}

.accordion__item {
  border: 1px solid #acb5bd;
  box-sizing: border-box;
  border-radius: 8px;

  margin-bottom: 8px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__summary {
  display: block;
  /* padding, а не margin, так как хотим, чтобы область оставалась кликабельной */
  padding: 24px 32px;
  cursor: pointer;
  outline: none;

  font-size: 16px;
  line-height: 24px;
  color: #212429;
}

.accordion__item[open] .accordion__summary {
  padding-bottom: 16px;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__content {
  padding: 0 32px 32px;
}

.accordion__text {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  color: #495057;
}
