.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__content {
  position: relative;
  border: 1px solid var(--grey-4);
  border-radius: 8px;
  padding: 30px 40px 33px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal__close {
  position: absolute;
  bottom: calc(100% - 20px);
  left: calc(100% - 20px);
  width: 16px;
  height: 16px;
}

.modal__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #334d6e;
}

.modal__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}
