.checkbox {
  display: inline-block;
  position: relative;
}

.checkbox__input {
  width: 0;
  height: 0;
}

.checkbox__state {
  display: flex;
  gap: 12px;
  align-items: center;
}

.checkbox__control {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid var(--grey-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__icon {
  display: none;
}

.checkbox__label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  background-color: var(--blue);
  border-color: var(--blue);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
  display: block;
}
